@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  
    margin-left: 20px;
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    background-position: 0.3rem;
  }